{% extends 'home/base.html' %}

{% block body %}
  {% include 'home/navbar.html' %}
  <div class="container">
    <div class="card bg-secondary">
      <img src="{{ content_series.image.url }}" class="rounded" alt="{{ content_series.slug }}" />
      <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="row text-light h-100">
          <div class="col-6">
            <div class="d-flex flex-column justify-content-around h-100">
              <div class="fs-2 fw-bold">{{ content_series.title }}</div>
              <div class="fs-6">{{ content_series.overview }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column justify-content-center h-100">
              <div class="row">
                <div class="col">
                  <div class="fs-5">Release Date</div>
                </div>
                <div class="col">
                  <div class="fs-6">{{ content_series.created_date }}</div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4">
                  <div class="card-text fs-5">Genre</div>
                </div>
                <div class="col-8">
                  {% for genre in content_series.genre.all %}
                    <span class="badge rounded-pill bg-primary my-1 p-2">{{ genre.name }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4">
                  <div class="card-text fs-5">Studio</div>
                </div>
                <div class="col-8">
                  {% for studio in content_season.studio.all %}
                    <div class="row">
                      <div class="col-3">
                        <img src="{{ studio.image.url }}" alt="" width="48" height="48" class="rounded-circle me-2" />
                      </div>
                      <div class="col-9">{{ studio.name }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-secondary my-2">
      <div class="card-body row justify-content-between p-2">
        <div class="col">
          <div class="fs-5">Season:</div>
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Season {{ content_season.season_no }}</button>
            <ul class="dropdown-menu">
              {% for season in content_seasons %}
                <li>
                  <a class="dropdown-item" href="{% url 'home:series_details' content_series.id season.id %}">Season {{ season.season_no }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="my-2 overflow-auto" style="height: 80vh;">
      <div class="row row-cols-1 row-cols-md-2 row-cols-md-3 g-2" style="width: 85vw;">
        {% for episode in content_episodes %}
          <div class="col">
            <div class="card" style="width: 22rem;">
              <div class="row">
                <div class="col">
                  <a href="{% url 'home:episode_details' content_series.id content_season.id episode.id %}" class="text-decoration-none text-dark"><img src="{{ episode.thumbnail.url }}" class="card-img-top" alt="{{ episode.slug }}" /></a>
                </div>
                <div class="col">
                  <div class="card-body text-dark">
                    <div class="d-flex flex-column justify-content-between" style="height: 14rem;">
                      <div class="card-title">{{ episode.title|slice:'30' }}</div>
                      <div class="card-text">Ratings: {{ episode.average_rating }}</div>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seriesModal">
                        <i class="bi bi-play-btn"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="my-2">
      <div class="fs-2 fw-bold">Trailers</div>
      <div class="d-flex flex-row flex-nowrap overflow-auto">
        {% for trailer in content_season_trailer %}
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="{{ trailer.url }}" class="embed-responsive-item mx-2" title="YouTube video" allowfullscreen></iframe>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="seriesModal" tabindex="-1" aria-labelledby="seriesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="seriesModalLabel">Login to View!!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
            You need to Login to view this series.
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary nav-link text-white" href="{% url 'home:login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
