{% extends 'home/base.html' %}

{% load crispy_forms_tags %}
{% block body %}
  {% include 'home/navbar.html' %}
  <div class="container">
    <div class="card bg-secondary">
      <img src="{{ content_episode.thumbnail.url }}" class="rounded" alt="{{ content_episode.slug }}" style="max-width: 100vw;" />
      <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="row text-light h-100">
          <div class="col-6">
            <div class="fs-2 fw-bold">{{ content_episode.title }}</div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column justify-content-around h-100">
              <div class="row">
                <div class="col">
                  <div class="fs-5">Season: {{content_episode.season.season_no}}</div>
                </div>
                <div class="col">
                  <div class="fs-5">Episode: {{ content_episode.episode_no }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="fs-5">Release Date</div>
                </div>
                <div class="col">
                  <div class="fs-6">{{ content_episode.release_date }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="fs-5">Duration</div>
                </div>
                <div class="col">
                  <div class="fs-6">{{ content_episode.duration }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="fs-5">Content Rating</div>
                </div>
                <div class="col">
                  <div class="fs-6">{{ content_episode.content_rating }}</div>
                </div>
              </div>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col">
                    <label for="{{ rating_form.rating.id_for_label }}" class="form-label requiredField fs-5">Rating</label>
                  </div>
                  <div class="col">
                    <select name="{{ rating_form.rating.name }}" id="{{ rating_form.rating.id_for_label }}" class="form-select w-50" onchange="this.form.submit()">
                      {% for option in rating_form.rating.subwidgets %}
                        {{ option }}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </form>
              <a href="{{ content_episode.video.url }}" class="btn btn-primary"><i class="bi bi-play-btn fs-4"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-dark my-4">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card-text fs-4 fw-bold">Plot</div>
            <p class="card-text">{{ content_episode.plot }}</p>
          </div>
          <div class="col">
            <div class="row mb-2">
              <div class="col-4">
                <div class="card-text fs- fw-bold">Cast &amp; Crew</div>
              </div>
              <div class="col-8">
                {% for person in content_episode.person.all %}
                  <div class="row">
                    <div class="col">{{ person.show_person.first_name }} {{ person.show_person.last_name }}</div>
                    <div class="col">{{ person.role.name }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
