{% extends 'home/base.html' %}

{% block body %}
    {% include 'home/navbar.html' %}

    {% block style %}
        <style>
            .big-item {
                transition: transform 0.3s;
            }

            .big-item:hover {
                transform: scale(1.1);
            }
        </style>
    {% endblock style %}

    <div class="container mt-4">
      

        <h2 class="mt-4">Movies:</h2>
        <div class="row">
            {% for movie in content_movies %}
                <div class="col-md-3 mb-4 big-item">
                    <div class="card">
                        <img src="{{ url }}/media/{{ movie.image }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ movie.genre }} {{ movie.duration }}</p>
                            <a href="{% url 'subscriber:movie_info' movie.id %}" class="btn btn-secondary">View more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
