{% extends 'home/base.html' %}

{% block body %}
{% include 'home/navbar.html' %}
    {% block style %}
                <style>
                            .big-item {
                                transition: transform 0.3s; /* Add transition for smooth effect */
                            }

                            .big-item:hover {
                                transform: scale(1.1); /* Enlarge the element on hover */
                            }
                </style>
    {% endblock style %}

<div class="container"><h2>Series:</h2>
    <div class="row ">
        {% for series in content_series %}
        <div class="col">
            <div class="card bg-secondary big-item" style="width: 15rem; height: 15rem;">
                <img src="{{url}}/media/{{series.image}}" class="card-img-top" height="200rem"
                     alt="{{series.title}}">
                <div class="card-body">
                    <h5 class="card-title text-dark">{{series.title}}</h5>
                    <a href="{% url 'subscriber:series_details' series.id %}" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br>

{% endblock body %}