{% extends 'home/base.html' %}

{% block body %}
{% include 'home/navbar.html' %}
<div class="container">
    <div class="card text-bg-dark">
        <img style="width: 1250px; height: auto;" src="{{url}}/media/{{content_series.image}}" class="card-img" alt="{{content_series.slug}}">
        <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 class="card-title">{{content_series.title}}</h5>
            <p class="card-text">{{content_series.overview}}...</p>
                 <p class="card-text">{{content_series.country}} | {{content_series.language}}</p>
                        <p class="card-text">Genre:{{content_series.genre}}</p>
                        {% for person in content_series.person.all %}
                            {{ person.role.name }}: {{ person.show_person.first_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                 <p class="card-text">{{content_series.studio}}</p>
            <p class="card-text"><small>{{content_series.created_date|date:"M d, Y" }}</small></p>
        </div>
    </div>
    <div class="card bg-secondary">
        <div class="d-flex justify-content-around card-body p-2">
            <h4 class="align-self-start">Season:</h4>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Seasons
                </button>
                <ul class="dropdown-menu">
                    {% for season in content_season%}
                    <li><a class="dropdown-item" href="?season={{season.id}}">Season {{season.season_no}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {% for episode in content_episodes %}
        <div class="card mb-3 text-light bg-secondary" style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{url}}/media/{{episode.thumbnail}}" class="img-fluid rounded-start"
                         alt="{{episode.slug}}">
                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'home:home' %}media/{{ episode.video}}" class="btn btn-dark btn-lg ">▶PLAY</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">{{episode.title}}</h4>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                        {{content_series.created_date|date:"M d,Y" }}
                                </small>
                            </p>
                        </div>
                        <p class="card-text">{{episode.plot}}</p>

                        {% for rate in rating %}
                            <p class="card-text">{{rate.get_rating_display}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container-fluid py-2">
    <h2 class="font-weight-light">Trailers</h2>
    <div class="d-flex flex-row flex-nowrap overflow-scroll">
        {% for trailer in content_season_trailer %}
        <div class="embed-responsive embed-responsive-4by3 m-5">
            <iframe class="embed-responsive-item" src="{{trailer.url}}"
                    allowfullscreen></iframe>
        </div>
        {% endfor %}
    </div>
</div>

</div>

{% endblock body %}