 {% extends 'base.html' %}

{% block title%} series detail {% endblock %}


 <div class='container mg-3'>

     <img width="200" src="{% url 'home_path' %}media/{{series_details.image}}">
       {% for series in series_details %}
      <div class="card-body" >
      <h3>title:{{Series.title}}</h3>
      <a href="{% url 'home_path' %}series/{{series.id}}">
          <button type="button" class="btn btn-success">view series</button></a>
      {% endfor %}
  </div>
 </div>
 {% block body%}{% endblock %}