 {% extends 'home/base.html' %}

{% block style %}
<style>
    .series-bg{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
{% endblock style %}

{% block body %}
{% include 'home/navbar.html' %}
<div class="container">
    <div class="card text-bg-dark">
        <img src="{{url}}/media/{{content_movie.image}}" class="card-img" alt="{{content_movie.slug}}">
        <div class="card-img-overlay">
            <h5 class="card-title">{{content_movie.title}}</h5>
            <p class="card-text">{{content_movie.overview}}...</p>
            <p class="card-text"><small>{{content_movie.created_date|date:"M d, Y" }}</small></p>
        </div>
    </div>

    <div class="container">
        <a href="{% url 'content_creator:add_moviepart' %}" class="btn btn-primary grid text-end" >Add moviepart</a>
        {% for moviepart in content_moviepart %}
        <div class="card mb-3 text-dark" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{url}}/media/{{moviepart.thumbnail}}" class="img-fluid rounded-start"
                         alt="{{moviepart.slug}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{moviepart.title}}</h5>
                        <p class="card-text">{{moviepart.plot|slice:":50"}}</p>
                        <p class="card-text"><small class="text-body-secondary">
                            {{content_part.created_date|date:"M d, Y" }}</small></p>
                        <a href="{% url 'content_creator:delete_moviepart' moviepart.id%}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'content_creator:edit_moviepart' moviepart.id%}"class="btn btn-success">Edit moviepart</a>


                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}